# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# CSV data files (Optional: uncomment the line below if you do NOT want to push raw CSV data files)
# *.csv
